<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>404</title>
</head>
<body style="display: flex; height: 90vh; overflow: hidden; justify-content: center; align-items: center; padding: 0 1.25rem; flex-direction: column; row-gap: 1rem;">
    <div class="imgWrapper" style="max-width: 56.25rem;" >
        <img style="width: 100%; height: auto;" src="../img/illustrations/not-found-illustration.svg" alt="not found">
    </div>
    <div style='font-family: "DM Sans", "Noto Sans"; font-size: 1rem;'><a href="/home" style="color: #0b69e2;">Click here</a> to go redirect to the main page</div>
    </body>
</html>