<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="../styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body display-mode="light" isMobile="false">
    <section class="main" style="flex-direction: unset; justify-content: center; margin-top: 6.25rem;">
        <section id="projects" style="width: 100%; max-width: 39.375rem;">
            <div class="projectsChoosingWrapper">
                <h1 data-translation="projects-heading">Projects</h1>
                <div class="portfoliosWrapper">
                    <header>
                        <h3 id="portfolioHeader" data-translation="projects-portfolio-heading"><%= projectType %></h3>
                        <div class="buttonsWrapper">
                            <search>
                                <form action="POST">
                                    <a href="#portfolioSearch"><img src="../img/icons/button-icons/search-icon.svg" alt="search icon"></a><input name="portfolioSearch" id="portfolioSearch" placeholder="Find something...">
                                </form>
                            </search>
                            <button class="buttonBlue" id="portfolioHeaderButton" state="backToChoosingPortfolio" data-translation="back">Back <img src="../img/icons/button-icons/arrow-in-circle-icon.svg" alt="arrow icon" style="transform: rotate(180deg);"></button>
                        </div>
                    </header>
                    <div class="portfolioElementsWrapper">
                        <!-- <div class="portfolioElement">
                            <img src="../img/project-previews/web-design-demo.png">
                            <h5>Title</h5>
                        </div><div class="portfolioElement">
                            <img src="../img/project-previews/web-design-demo.png">
                            <h5>Title</h5>
                        </div><div class="portfolioElement">
                            <img src="../img/project-previews/web-design-demo.png">
                            <h5>Title</h5>
                        </div><div class="portfolioElement">
                            <img src="../img/project-previews/web-design-demo.png">
                            <h5>Title</h5>
                        </div><div class="portfolioElement">
                            <img src="../img/project-previews/web-design-demo.png">
                            <h5>Title</h5>
                        </div> -->
                    </div>
                    <div class="portfolioContentWrapper" style="display: none;">
                        <div id="nothingHere" style="display: none;">
                            <div class="imgWrapper">
                                <img src="../img/illustrations/nothing-in-here-illustration.svg" alt="nothing in here. i'm going to add more cases soon">
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <script>
        // fetch content from API
        content = JSON.parse('<%-JSON.stringify(content)%>')
        console.log(JSON.stringify(content) == "[]")

        const nothingHere = document.getElementById("nothingHere")
        const portfolioElementsWrapper = document.querySelector(".portfolioElementsWrapper")
        const portfolioContentWrapper = document.querySelector(".portfolioContentWrapper")
        if (JSON.stringify(content) == "[]") {
            console.log("hey")
            portfolioElementsWrapper.style.display = "none"
            nothingHere.style.display = "flex"
            portfolioContentWrapper.style.display = "flex"
        }
    </script>
</body>
</html>