:root {
    --font-large: 2rem;
    --font-big: 1.5rem;
    --font-medium: 1.25rem;
    --font-medium-no-change: 1.25rem;
    --font-regular: 1rem;
    --font-regular-to-small: 1rem;
    --font-small: 0.75rem;

    --color-main: #0b69e2;
    --color-secondary: #13b3fd;

    --color-text: #000;
    --color-background: #fff;
    --color-dark: #020808;
    --color-light-grey: #EDEDF4;
    --color-light-grey-no-change: #EDEDF4;
    --color-light-grey-transparent: rgba(237, 237, 244, 0.5);
    --color-medium-grey: #DBDBE5;
    --color-dark-grey: #888893;
    --color-black-to-white: #000;
    --color-white-to-light-grey: #fff;
    --header-color: rgba(256, 256, 256, 0.8);
}

/* override old variables with new for darkmode */
[display-mode~="dark"] {
    --color-text: #fff;
    --color-background: #141117;
    --color-dark: #302B37;
    --color-light-grey: #1B181F;
    --color-medium-grey: #0E1013;
    --color-black-to-white: #fff;
    --color-light-grey-transparent: rgba(24, 24, 31, 0.4);
    --color-white-to-light-grey: #1B181F;
    --header-color: rgba(20, 17, 23, 0.8);
    /* --color-dark-grey: #302B37; */
}



.buttonBlue {
    font-family: "DM Sans", "Noto Sans";
    box-sizing: border-box;
    border: none;
    background-color: var(--color-secondary);
    display: inline-flex;
    column-gap: 0.2rem;
    justify-content: center;
    align-items: center;
    font-size: var(--font-regular);
    font-weight: bold;
    color: #fff;
    padding: 0.4rem 0.6rem;
    border-radius: 0.25rem;
    height: 2.5rem;
    cursor: pointer;
    white-space: nowrap;

}

.buttonBlue img {
    width:1.5rem;
    height:1.5rem;
}


.hyperlink {
    color: var(--color-main);
    cursor: pointer;
}

.hyperlink img {
    width: 0.625rem;
    height: 0.625rem;
}


.showMore {
    color: var(--color-main) !important;
    list-style: none;
    cursor: pointer;
}

.showMore img{
    width: 0.75rem;
    height: 0.75rem;
}

.showMore::-webkit-details-marker {
    display: none;
}


em {
    color: var(--color-main);
    font-style: normal;
}

em.plate {
    color: var(--color-black-to-white);
    border-radius: 5px;
    background-color: var(--color-light-grey);
    padding: 0.2rem 0.5rem;
    white-space: nowrap;
}

a {
    text-decoration-line: none;
    cursor: pointer;
}

h1 {
    font-size: var(--font-large);
}
h2{
    font-size: var(--font-big);
}
h3{
    font-size: var(--font-medium);
}
h4{
    font-size: var(--font-medium-no-change);
}

h5{
    font-size: var(--font-regular-to-small);
}

h1, h2, h3, h4, h5{
    margin: 0;
}


html:has(body[display-mode~="dark"]) {
    scrollbar-color: #302B37 #1B181F;
}

body {
    margin: 0;
    font-family: "DM Sans", "Noto Sans";
    font-size: var(--font-regular);
    background-color: var(--color-background);
    color: var(--color-text);
    display: flex;
    flex-direction: column; 
    width: clamp(0px, calc(100% - 2.5rem), 56.25rem);
    margin: 0 auto;
    padding: 0 1.25rem;
    cursor:default;
}



.CVLanguageWrapper {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.CVLanguageWrapper[isActive ~= "false"] {
    display: none !important;
}

.CVLanguageWrapper[isActive ~= "true"] {
    display: flex;
}

.CVLanguageWrapper .CVLanguage {
    background-color: white;
    display: flex;
    row-gap: 0.5rem;
    flex-direction: column;
}

.CVLanguageWrapper .CVLanguage h4 {
    padding: 1rem 1rem 0;
}

.CVLanguageWrapper .CVLanguage a {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-medium);
}

.CVLanguageWrapper .CVLanguage a:hover {
    background-color: var(--color-secondary);
    color: white;
    font-weight: bold;
}

.CVLanguageWrapper .CVWrapper {
    display: flex;
}

body:has(.CVLanguageWrapper[isActive~="true"]) {
    overflow: hidden;
}


header.mainHeader{
    color: var(--color-dark-grey);
    backdrop-filter: blur(5px);
    background-color: var(--header-color);
    width: clamp(0px, calc(100% - 2.5rem + 0.3rem), 39.675rem);
    margin-left: -0.3rem;
    display: none;
    position: fixed;
    height: 4rem;
    font-weight: bold;
    justify-content: space-between;
    z-index: 1;
    padding-right: 1.25rem;
}


header.mainHeader nav {
    display: flex;
    align-items: center;
}

header.mainHeader nav a{
    border-radius: 5px;
    color: inherit;
    padding: 0.5rem 0.3rem;
}

header.mainHeader nav a:hover{
    background-color: var(--color-light-grey-transparent);
    backdrop-filter: blur(5px);
}


header.mainHeader .buttonsWrapper {
    display: flex;
    align-items: center;
}

header.mainHeader .buttonsWrapper button{
    background-color: transparent;
    border: transparent;
    color: inherit;
    font-weight: bold;
    font-size: var(--font-regular);
    font-family: inherit;
    display: inline-flex;
    align-items: center;
    column-gap: 0.4rem;
    padding: 0.5rem 0.7rem;
    width: inherit;
    border-radius: 5px 5px 0px 0px;
}

.dropDownWrapper {
    width: 3.2rem;
}

header.mainHeader .buttonsWrapper .dropDownWrapper:hover button{
    background-color: var(--color-light-grey-transparent);
    backdrop-filter: blur(5px);
}

header.mainHeader .buttonsWrapper .dropDownWrapper .dropDownMenu{
    display: none;
    flex-direction: column;
    position: absolute;
}

header.mainHeader .buttonsWrapper .dropDownWrapper:hover .dropDownMenu{
    display: flex;
    cursor: pointer;
}

header.mainHeader .buttonsWrapper .dropDownWrapper .dropDownMenu a {
    padding: 0.5rem 0.7rem;
    display: flex;
    width: calc(3.2rem - 1.4rem);
    font-weight:normal;
    background-color: var(--color-background);
}

header.mainHeader .buttonsWrapper .dropDownWrapper .dropDownMenu a:last-child {
    border-radius: 0px 0px 5px 5px;
    font-weight: 350;
}

header.mainHeader .buttonsWrapper .dropDownWrapper .dropDownMenu a:hover {
    background-color: var(--color-light-grey);
    font-weight: bold;
}


#headerDisplayModeButton {
    border-radius: 100%;
    padding: 0.5rem;

}
#headerDisplayModeButton:hover{
    background-color: var(--color-light-grey-transparent);
    backdrop-filter: blur(5px);
}



section.main {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 1.875rem;
}


aside.sideNav {
    /* position: sticky; */
    top: 0;
    min-width: 15rem;
    max-width: 15rem;
    height: 23rem;
    /* height: 24.125rem; */
    background-color: var(--color-light-grey);
}

aside header{
    background-color: var(--color-dark);
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.75rem;
    box-sizing: border-box;
}

#sideNavDisplaySwitch {
    background-color: #797C82;
    box-sizing: border-box;
    border-radius: 0.5rem;
    padding: 0.125rem;
    width: 5.2rem;
    height: 2rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

#sideNavDisplaySwitch input {
    display: none;
}

#sideNavDisplaySwitch label {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 2.5rem;
    height: 100%;
    color: #fff;
    font-size: 0.9rem;
    border-radius: 7px;
    cursor: pointer;
}

[name~="languageSegmentInput"]:checked+label {
    color: black !important;
    background-color: white;
    font-weight: bold;
}


header #sideNavDisplayModeButton {
    height: 1.5rem;
    cursor: pointer;
}


aside nav{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 0.75rem;
}

aside nav a{
    display: inline-flex;
    font-size: var(--font-medium);
    font-weight: 500;
    color: var(--color-black-to-white);
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;
    border-radius: 5px;
    padding: 0 0.75rem;
    cursor: pointer;
}

aside nav a img{
    width: 1.5rem;
    height: auto;   
}


body[display-mode~="dark"] aside nav img {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(68deg) brightness(104%) contrast(100%);
}

aside nav a[isActive~="true"]{
    background-color: var(--color-medium-grey);
    font-weight: bold;
}


.mainContent{
    width: 100%;
}

section {
    margin-bottom: 1.5625rem;
}

section#home {

    display: flex;
    flex-direction: column;
    row-gap: 1.875rem;
}


#home .top .aboutMeWrapper {

    display: flex;
    column-gap: 1.4rem;
    justify-content: space-between;
    overflow: hidden;
}


#home #bio {
    margin-top: 0.625rem;
}

img#photo1 {
    height: 100%;
    width: 8.75rem;
    height: 11.25rem;
}


#home .buttonsWrapper{ 
    display: flex;
    column-gap: 1rem;
    margin-top: 1.25rem;
}

#buttonsHome2 {
    display: none !important;
}

#home .top #contactMeSocials {
    display: none;
    margin-top: 1rem;
    flex-shrink: 1;
    justify-content: space-between;
    max-width: 20rem;
}

#home .top #contactMeSocials:last-child img{

    height: 2.75rem;
}


#home .techStack {

    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
}

#home .techStackIcons {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 1rem;
}

#home .techStackIcons img{
    width: 4.5rem;
    height: 4.5rem;
}

#home .techStackWrapper{

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.625rem;
}



section#experience, section#education {
    display: flex;
    flex-direction: column;
    min-height: 23rem;
    box-sizing: border-box;
}


section#experience .top, section#education .top{
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;
}


.plateShadow {
    margin-top: 1.25rem;
    column-gap: 0.625rem;
    background-color: var(--color-white-to-light-grey);
    border-radius: 5px;
    padding: 1.875rem 1.5625rem 2.5rem;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    box-sizing: border-box;
    border: 0.1rem solid var(--color-light-grey-no-change);
    flex-grow: 1;
    min-height: 100%;
}

.plateShadow .lineWrapper {
    display: flex;
    min-width: 3.125rem;
    justify-content: center;
}

.plateShadow .lineWrapper .line {
    background-color: var(--color-light-grey-no-change);
    width: 0.15rem;
    min-height: calc(100% + 2.5rem);
}

.plateShadow .elementsWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.plateShadow .elementsWrapper .element {
    display: flex;
    column-gap: 0.625rem;
}

.plateShadow .elementsWrapper .element .logoWrapper{
    width: 3.125rem;
    height: 3.125rem;
    position: absolute;
    margin-left: -3.8rem;
}

.plateShadow .elementsWrapper .element .logoWrapper img {
    width: 100%;
    height: auto;
}

.plateShadow .textWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;
}

.plateShadow .textWrapper .date {
    font-size: var(--font-small)
}

.plateShadow .textWrapper .subheading {
    font-weight: bold; 
    color: var(--color-dark-grey)

}

.plateShadow .textWrapper details {
    display: flex;
    flex-direction: column-reverse;
}

.plateShadow .textWrapper .details {
    margin: 0.625rem 0;
}

.plateShadow .textWrapper ul {
    margin: 0.3125rem;
    padding-left: 1.5rem;
}



section#education .plateShadow .textWrapper .subheading{
    color: var(--color-black-to-white);
    font-weight: 400;
}



section#projects {
    display: flex;
    flex-direction: column;
}

#projects #projectsDefault {
    display: flex;
    flex-direction: column;
    row-gap: 0.45rem;
}

#projects #projectsDefault > .top  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#projects #projectsDefault .projectsWrapper {
    column-gap: 2%;
    display: flex;
    justify-content: space-between;
}

#projects #projectsDefault .rightWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#projects #projectsDefault .webDevWrapper {
    max-width: 14.375rem;
    height: auto;
}

#projects #projectsDefault #webDev {
    width: 100%;
    height: auto;
}

#webDev, #graphDesign, #webDesign, #sideProjects {
    cursor: pointer;
}

#projects #projectsDefault .graphDesignWrapper {
    max-width: 24.0625rem;
    height: auto;
}

#projects #projectsDefault #graphDesign {
    width: 100%;
    height: auto;
}

#projects #projectsDefault .bottom {
    display: flex;
    column-gap: 2%;
    justify-content: space-between;
}

#projects #projectsDefault .webDesignWrapper {
    max-width: 13.75rem;
    height: auto;
}

#projects #projectsDefault #webDesign {
    width: 100%;
    height: auto;
}

#projects #projectsDefault .sideProjectsWrapper {
    max-width: 9.375rem;
    height: auto;
}

#projects #projectsDefault #sideProjects {
    width: 100%;
    height: auto;
}




.projectsChoosingWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;
}

.projectsChoosingWrapper .portfoliosWrapper header{
    box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.25);
    color: white;
    display: flex;
    background-color: var(--color-dark);
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.625rem;
}



.projectsChoosingWrapper .portfoliosWrapper header .buttonsWrapper {
    display: flex;
    align-items: center;
    column-gap: 0.625rem;
    height: 2.5rem;
}

.projectsChoosingWrapper .portfoliosWrapper header .buttonsWrapper form {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    border-radius: 5px;
    background-color: #fff;
    padding-left: 0.625rem;
    height: 100%;
}

.projectsChoosingWrapper .portfoliosWrapper header .buttonsWrapper search {
    height: 100%;
}

.projectsChoosingWrapper .portfoliosWrapper header .buttonsWrapper form input {
    box-sizing: border-box;
    outline: transparent;
    width: 8rem;
    border: none;
    font-size: var(--font-regular);
    border-radius: 5px;
    padding-right: 0.625rem;
}

#portfolioSearch:focus {
    animation: searchExtending ease-in 0.5s;
    animation-fill-mode: forwards;
}

.buttonsWrapper:has(#portfolioSearch:focus) form {
    animation: formSearchExtending ease-in 0.5s;
    animation-fill-mode: forwards;
}

.buttonsWrapper:has(#portfolioSearch:focus) #portfolioHeaderButton{
    display: none;
}

@keyframes formSearchExtending {
    0% {
        margin-right: 5.25rem;
    }
    100% {
        margin-right: 0;
    }
}

@keyframes searchExtending {

    /* 50% {
        width: 13rem;
    } */
    100% {
        width: 14rem;
    }
}

.projectsChoosingWrapper .portfolioElementsWrapper {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 0.3125rem));
    column-gap: 0.625rem;
    row-gap: 1.25rem;
    padding: 1.25rem 0.625rem 2.5rem;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 5px 5px;
}

.projectsChoosingWrapper .portfolioElement {
    display: flex;
    row-gap: 0.625rem;
    flex-direction: column;
}

.projectsChoosingWrapper .portfolioElement .imgWrapper{
    max-width: 18.75rem;
    max-height: 12.375rem;
}

.projectsChoosingWrapper .portfolioElement .imgWrapper img {
    width: 100%;
    height: auto;
}


.portfolioContentWrapper {
    display: flex;
    flex-direction: column;
    padding: 1.25rem 0.625rem 2.5rem;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 5px 5px;
}

.projectsChoosingWrapper .portfoliosWrapper .portfolioContentWrapper .nothingHere {
    padding: 0 0.625rem;
    margin-top: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectsChoosingWrapper .nothingHere .imgWrapper {
    max-width: 31.25rem;
}

.projectsChoosingWrapper .nothingHere .imgWrapper img {
    width: 100%;
    height: auto;
}




section#aboutMe {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;

}

#aboutMe h1 {
    margin-bottom: 0.625rem;
}

#aboutMe h4 {
    margin-bottom: 0.625rem;
}

#aboutMe .top {
    display: flex;
    justify-content: space-between;
}

#aboutMe #aboutMeChangingText {
    border-right: 0.125rem solid var(--color-main);
    padding-right: 0.2rem;
    animation: typewriter 0.8s steps(1) infinite;
}

@keyframes typewriter {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: var(--color-main);
    }
}

#aboutMe .top .languagesWrapper{
    margin-top: 1.25rem;

}

#aboutMe .top .text {
    max-width: 23.75rem;
}

#aboutMe .top .languages {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem 1rem;
}

#aboutMe .top img {
    width: 8.75rem;
    height: 10.625rem;
}


#aboutMe .employmentPreferences {
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;
}

#aboutMe .employmentPreferencesRow {
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-wrap: wrap;
    gap: 0.4rem 1rem;
}

#aboutMe .socials, #aboutMe .hobbies {
    display: flex;
    column-gap: 0.625rem;
    flex-wrap: wrap;
}

#aboutMe .socials img {
    height: 2.5rem;
}



section#contactMe {
    display: flex;
    justify-content: space-between;
}

#contactMe .left .top {
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;
}

#contactMe .left {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
}

#contactMe .contact img {
    width: 2rem;
}

#contactMe .contactsWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;
}

#contactMe .contactsWrapper .contact {
    color: var(--color-main);
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
}

#contactMe #photo3 {
    width: 8.75rem;
    height: 10.625rem;
}


@media(max-width: 58.75rem){
    aside.sideNav {
        display: none;
    }

    section.main {
        display: flex;
        flex-direction: row;
    }

    header.mainHeader{
        display: flex;
    }

    body {
        width: clamp(0px, calc(100% - 2.5rem), 39.375rem);
    }


    #home .top #bio {

        margin-right: 1rem;
    }
}


@media(max-width: 40.625rem){
    :root  {
        --font-regular-to-small: 0.75rem;
    }

    .buttonBlue {
        column-gap: 0.1rem;
    }
    
    h1 {
        font-size: var(--font-big);
    }

    h3 {
        font-size: var(--font-regular);
    }



    section#home {
        row-gap: 1.25rem;
    }  

    #home .top .buttonsWrapper {
        column-gap: 0.5rem;
    } 

    #home .techStack {
        row-gap: 0.625rem;
    }

    header.mainHeader nav a:nth-child(n+3):nth-child(-n+5) {
        display: none;
    }

    /* CHANGE HREF WITH JS */

    #home .top .aboutMeWrapper {
        column-gap: 0.625rem;
    }

    #home #photo1 {
        width: 8.75rem;
        height: 11.25rem;
    }
    

    #home .techStackWrapper img {
        width: 4.25rem;
    }

    #home .techStackWrapper {
        font-size: 0.7rem;
    }

    #home .techStackIcons {
        column-gap: 1.2rem;
    }


    #projects #projectsDefault .top .buttonBlue {
        display: none;
    }

    #projects #projectsDefault .top {
        display: flex;
        flex-direction: column;
        row-gap: 0.625rem;
    }

    #projects #projectsDefault {
        row-gap: 1.25rem;
    }

    .projectsChoosingWrapper #portfolioSearch::-webkit-input-placeholder {
        color: transparent;
    }
    .projectsChoosingWrapper #portfolioSearch::-moz-placeholder {
        color: transparent;
    }
    .projectsChoosingWrapper #portfolioSearch::-ms-input-placeholder {
        color: transparent;
    }
    .projectsChoosingWrapper .portfoliosWrapper header .buttonsWrapper form {
        gap: 0;
    }
    .projectsChoosingWrapper #portfolioSearch {
        width: 0;
    }

    @keyframes searchExtending {
    
        100% {
            width: 8.125rem;
        }
    }

    .projectsChoosingWrapper .portfoliosWrapper .portfolioElementsWrapper{
        padding-top: 0.625rem;
        row-gap: 0.625rem;
    }


    .plateShadow {
        flex-grow: 0;
        padding: 1.25rem 0.625rem 2.5rem;
        margin-top: 0.9375rem;
    }

    #experience .plateShadow .subheading {
        font-size: 0.75rem;
    }

    section#experience {
        min-height: unset;
    }



    section#education {
        min-height: unset;
    }



    #aboutMe #photo2, #contactMe #photo3 {
        display: none;
    }
}

@media(max-width: 29.375rem){
    #buttonsHome1 {
        display: none !important;
    }

    #buttonsHome2 {
        display: flex !important;
    }
}

@media(max-width:  27.5rem){
    #contactGmailBr {
        display: block !important;
    }
}

@media(max-width: 22.5rem){
    header.mainHeader nav a:nth-child(6) {
        display: none;
    }

    img#photo1 {
        display: none;
    }
}